<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" />
    </system.web>

  <connectionStrings>
    <add name="MySQLConnStr" connectionString="DRIVER={MySQL ODBC 3.51 Driver};Database=test;Server=localhost,UID=root,PWD=26981;" />
  </connectionStrings>

</configuration>
